
.page-header {
	text-align: center;
}

.faces-container {
	margin-left: 50px;
	margin-right: 50px;
	text-align: center;
}

#faces {
width: 160px;
height: 160px;	
}
#faces:hover {
border: 3px solid red;
}

#wisdom {
	text-align: center;
	font-size: 20px;
}