.page-header {
	text-align: center;
}

.faces-container {
	margin-left: 50px;
	margin-right: 50px;
	text-align: center;
}

#faces {
width: 160px;
height: 160px;	
cursor: pointer;
}
#faces:hover {
border: 3px solid red;
}

.well {
	margin-left: 45px;
	margin-right: 45px;
}

.wisdom-container {
	display: none;
}

#wisdom {
	text-align: left;
	font-size: 16px;
}

.navbar {
	height: 16px;
	background-color: grey;
}
.footer{
	text-align: center;
	font-size: 11px;
	padding-top: 3px;
}